<div class="meal-plans-container">
  <div class="header">
    <h1>Meal Plans</h1>
    <button mat-raised-button color="primary" (click)="openAddMealPlanDialog()">
      <mat-icon>add</mat-icon>
      Add Meal Plan
    </button>
  </div>

  <div *ngIf="loading" class="loading">
    <mat-spinner></mat-spinner>
  </div>

  <table mat-table [dataSource]="mealPlans" class="meal-plans-table" *ngIf="!loading">
    <ng-container matColumnDef="mealPlanId">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let plan">{{ plan.mealPlanId }}</td>
    </ng-container>

    <ng-container matColumnDef="memberName">
      <th mat-header-cell *matHeaderCellDef>Member</th>
      <td mat-cell *matCellDef="let plan">{{ plan.member?.user?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="planText">
      <th mat-header-cell *matHeaderCellDef>Plan</th>
      <td mat-cell *matCellDef="let plan">
        <div class="plan-text">{{ plan.planText }}</div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

